# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Slidev
.slidev/
